.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: lightgray;
}

.box{
	margin: 10px 0;
	min-height: 80px;
	background-color: tomato;
	font-size: 30px;
}
.red{
	background-color: lightskyblue;
}
.five{
	background-color: teal;
}
.three{
	background-color: blue;
}
.six{
	background-color: green;
}